/web
/*.md
/api/.env
/api/node_modules
/api/dist
/api/logs
/api/.vscode
/api/.idea
/api/.DS_Store
/api/*.log
/api/npm-debug.log*
/api/pnpm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/lerna-debug.log*
/api/coverage
/api/.nyc_output
/api/*.tmp
/api/*.temp
/api/.temp/
/api/.tmp/
/api/.cache
/api/.eslintcache
/api/package-lock.json
/api/yarn.lock
/api/pnpm-lock.yaml
/api/*.bak
/api/*.backup
/api/*~